
 <md-tabs md-stretch-tabs="always" class="md-primary" md-dynamic-height md-border-bottom >
        <md-tab id="tab1" aria-controls="Tab 1">
            <md-tab-label>Info</md-tab-label>
            <md-tab-body layout="column">
   
            <info flex></info> 
              
            </md-tab-body>
        </md-tab>

        <md-tab id="tab2" aria-controls="Tab 2" md-dynamic-height md-border-bottom>
          <md-tab-label>Progress</md-tab-label>
          <md-tab-body layout="column">

          <jobprogress flex></jobprogress>

          </md-tab-body>
    </md-tabs>


