
 <md-tabs md-stretch-tabs="always" class="md-primary" md-dynamic-height md-border-bottom >
        <md-tab id="tab1" aria-controls="Tab 1">
          <md-tab-label>Motors</md-tab-label>
          <md-tab-body ng-controller="ControlsCtrl">
            <md-content layout="row">
              <motorbox ngTitle="Z" ngLabel="mm" class="flex-10 flex-sm-20"></motorbox>
              <motorbox ngTitle="X" ngLabel="mm" class="flex-10 flex-sm-20"></motorbox>
              <motorbox ngTitle="Y" ngLabel="mm" class="flex-10 flex-sm-20"></motorbox>

              <md-content layout="column" flex>
                <switchbox ngTitle="Motors" ngLabel="motors()"></switchbox>
                <gcodebox ngTitle="Send GCode" ngLabel="gcode" class="flex-10 flex-sm-20"></gcodebox>                
              </md-content>




            </md-content>
          </md-tab-body>
      </md-tab>
      <md-tab id="tab1" aria-controls="Tab 1">
          <md-tab-label>DLP</md-tab-label>
          <md-tab-body layout="column" ng-controller="ControlsCtrl">
      {{SharedService.value}}
      <input type="text" ng-model="SharedService.value">
      <!--<box ng-repeat="d in data" data="d" ></box>-->
      <!-- <box data="d" ng-repeat="d in data"></box> -->
      <md-content layout="row" layout-sm="column">
        <box ngTitle="Lift Speed" ngLabel="mm/m" flex></box>
        <box ngTitle="Lift Distance" ngLabel="mm" flex></box>
      </md-content>

      <md-content layout="row" layout-sm="column">
        <box ngTitle="Exposure Time" ngLabel="ms" flex></box>
        <box ngTitle="Show Calibration Screen" ngLabel="pixels" flex></box>
      </md-content>

      <md-content layout="row" layout-sm="column">

        <md-card class="flex-50 flex-sm-100">
            <md-content layout="row">
              <md-subheader class="md-no-sticky flex">Show Blank Screen</md-subheader>
              <md-button class="md-raised md-primary" aria-label="More">
                Show Blank
              </md-button>
            </md-content>
        </md-card>

      </md-content>
        



          </md-tab-body>
      </md-tab>
    </md-tabs>


