 <md-tabs md-stretch-tabs="always" class="md-primary" md-dynamic-height md-border-bottom>
        <md-tab id="tab1" aria-controls="Tab 1">
          <md-tab-label>Jobs</md-tab-label>
          <md-tab-body layout="column">


    <md-card class="flex" ng-controller="JobsCtrl">
      

      <md-card-content>

        <md-list>
          
          <md-list-item class="md-3-line">
            <div class="md-list-item flex">

             <md-input-container class="md-block">
                <label>Uploads</label>
                <md-select name="myModel" ng-model="myModel" required>
                  <md-option value="1">eifel-tower.stl</md-option>
                  <md-option value="2">cathedral.stl</md-option>
                  <md-option value="3">ares.stl</md-option>
                  <md-option value="4">medusa.stl</md-option>
                </md-select>
                <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
             </md-input-container>


            </div>
            
          </md-list-item>
        </md-list>
        <md-card-actions layout="row" layout-sm="column" layout-align="end center">
          <md-button class="md-raised">Start</md-button>
          <md-button class="md-raised">Toggle Pause</md-button>
          <md-button class="md-raised">Stop</md-button>
          <md-button class="md-raised">Delete</md-button>
          <md-button class="md-raised">Send Diagnostics</md-button>



        </md-card-actions>

      </md-card-content>

      <md-divider></md-divider>

      <md-card-content>


          <form ng-app="fileUpload" ng-controller="JobsCtrl" name="form">
            <md-content layout layout-sm="column">
              <md-input-container class="md-block" flex>
                <label>Filepath</label>
                <textarea ng-model="user.biography" columns="1"></textarea>
              </md-input-container>
              <md-button ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
              accept="image/*" ngf-max-size="20MB" ngf-min-height="100" 
              ngf-resize="{width: 100, height: 100}">Browse</md-button>
            </md-content>
           </form>


        <md-card-actions layout="row" layout-sm="column" layout-align="end center">
          <md-button>Upload</md-button>
        </md-card-actions>


      </md-card-content>



    </md-card>

  </md-content>

 
    </md-card>
            


          </md-tab-body>
      </md-tab>
    </md-tabs>


 
