		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<i class="fa pull-left fa-2x fa-hand-peace-o"></i>
				<h4 class="pull-left">2D File Settings</h4>
				<div class="btn-group pull-right" >
					<button class="btn btn-primary" ng-click="showFontUpload()">
						<i class="fa fa-upload"></i> 
						<span>Upload Font</span>
					</button>
					<button class="btn btn-primary" ng-disabled="printersController.currentPrinter.started" ng-click="savePrinter(printersController.currentPrinter, null)" >
						<i class="fa fa-pencil"></i>
						<span>Save</span>
					</button>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<i class="fa fa-2x fa-font pull-left"></i>
					<div>
						<h4 class="pull-left">Font Name</h4>
					</div>
					<select name="type" class="form-control"
						ng-model="printersController.currentPrinter.configuration.slicingProfile.TwoDimensionalSettings.Font.Name" 
						ng-options="item for item in printersController.fontNames"
						required>
					  <option value="">{{printersController.loadingFontsMessage}}</option>
					</select>
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-text-height pull-left"></i>
					<h4>Font Size</h4>
					<input type="number" class="form-control" placeholder="pt" ng-model="printersController.currentPrinter.configuration.slicingProfile.TwoDimensionalSettings.Font.Size">
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-ellipsis-v pull-left"></i>
					<h4>2D Extrusion Height (mm)</h4>
					<input type="number" class="form-control" placeholder="mm" ng-model="printersController.currentPrinter.configuration.slicingProfile.TwoDimensionalSettings.ExtrusionHeightMM">
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-indent pull-left"></i>
					<h4>Platform Height (mm)</h4>
					<input type="number" class="form-control" placeholder="mm" ng-model="printersController.currentPrinter.configuration.slicingProfile.TwoDimensionalSettings.PlatformHeightMM">
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-yc pull-left"></i>
					<h4>Disable edge detection</h4>
					<input class="form-control" type="checkbox" ng-model="printersController.currentPrinter.configuration.slicingProfile.TwoDimensionalSettings.EdgeDetectionDisabled">
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-superscript pull-left"></i>
					<h4>Scale to fit print area</h4>
					<input class="form-control" type="checkbox" ng-model="printersController.currentPrinter.configuration.slicingProfile.TwoDimensionalSettings.ScaleImageToFitPrintArea">
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-edit pull-left"></i>
					<h4>Base Platform Calculator</h4>
					<button class="btn btn-primary btn-sm" ng-click="printersController.writePegExposureCode()">
						<b class="fa fa-thumbs-o-up"></b> 
						<span>Peg Exposure Calibration</span>
					</button>
					<button class="btn btn-primary btn-sm" ng-click="printersController.writeHBridgeCode()">
						<b class="fa fa-thumbs-o-up"></b> 
						<span>H-Bridge Exposure Calibration</span>
					</button>
					
					<div class="input-group"
						cwh-testscript
						placeholder="(no return value required yet)"
						helpURL="<a href='https://docs.oracle.com/javase/8/docs/api/java/awt/Graphics2D.html'>Writing shapes</a><br>
						<a href='https://docs.oracle.com/javase/8/docs/api/java/awt/image/WritableRaster.html'>Setting pixels</a><br>
						<a href='https://wiki.photonic3d.com/doku.php?id=calculators'>Javascript Variables</a><br>
						<a href='http://www.w3schools.com/js/'>Javascript help</a><br>
						<a href='https://wiki.photonic3d.com/doku.php?id=calculator_examples'>A Few Examples</a>"
						testClick="printersController.testScript('2D Platform rendering script', 'java.lang.Void', printersController.currentPrinter.configuration.slicingProfile.TwoDimensionalSettings.PlatformCalculator)"
						ng-model="printersController.currentPrinter.configuration.slicingProfile.TwoDimensionalSettings.PlatformCalculator">
					</div>
				</div>
			</div>
			
			<div class="panel-footer">
				<span ng-include="'cardFooter.html'"></span>
			</div>
		</div>