		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<i class="fa pull-left fa-2x fa-graduation-cap"></i>
				<h4 class="pull-left">Advanced Properties: {{printersController.currentPrinter.configuration.name}} </h4>
				<div class="btn-group pull-right" >
					<button class="btn btn-primary" ng-disabled="printersController.currentPrinter.started" ng-click="savePrinter(printersController.currentPrinter)" >
						<i class="fa fa-pencil"></i>
						<span>Save</span>
					</button>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<i class="fa fa-2x fa-pause pull-left"></i>
					<h4>Pause on Printer Response (regex)</h4>
					<input type="text" class="form-control" placeholder="regex" ng-model="printersController.currentPrinter.configuration.machineConfig.PauseOnPrinterResponseRegEx"></input>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<i class="fa fa-2x fa-neuter fa-rotate-270 pull-left"></i>
					<h4>Override model normal with right hand rule</h4>
					<input class="form-control" type="checkbox" ng-model="printersController.currentPrinter.configuration.machineConfig.OverrideModelNormalsWithRightHandRule">
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<i class="fa fa-2x fa-clock-o pull-left"></i>
					<h4>Printer response timeout (ms)</h4>
					<input type="number" class="form-control" placeholder="millis" ng-model="printersController.currentPrinter.configuration.machineConfig.PrinterResponseTimeoutMillis">
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<i class="fa fa-2x fa-undo pull-left"></i>
					<h4>Restart serial on timeout</h4>
					<input class="form-control" type="checkbox" ng-model="printersController.currentPrinter.configuration.machineConfig.RestartSerialOnTimeout">
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<i class="fa fa-2x fa-code-fork pull-left"></i>
					<h4>GCode Footer Execution</h4>
					<select name="type" class="form-control"
						ng-model="printersController.currentPrinter.configuration.machineConfig.footerExecutionHandling" 
						ng-options="mode for mode in ControlFlows">
					  <option value="" selected>Select an Execution Type...</option>
					</select>
				</div>
			</div>
			
			<div class="panel-footer">
				<span ng-include="'cardFooter.html'"></span>
			</div>
		</div>