<h6>X in mm (thick dotted line)</h6>
<input type="text" class="form-control" placeholder="mm" ng-model="printerControlsController.calibration.xMM">
<h6>Change distance between X lines</h6>
<span class="btn-group" >
	<a class="btn btn-sm btn-danger fa fa-angle-double-left" ng-click="printerControlsController.showCalibrationScreen(-100, 0)"> 100</a> 
	<a class="btn btn-sm btn-danger fa fa-angle-left" ng-click="printerControlsController.showCalibrationScreen(-10, 0)"> 10</a> 
	<a class="btn btn-sm btn-danger fa fa-angle-left" ng-click="printerControlsController.showCalibrationScreen(-1, 0)"> 1</a>
	<a class="btn btn-sm btn-success fa fa-angle-right" ng-click="printerControlsController.showCalibrationScreen(1, 0)"> 1</a>
	<a class="btn btn-sm btn-success fa fa-angle-right" ng-click="printerControlsController.showCalibrationScreen(10, 0)"> 10</a>
	<a class="btn btn-sm btn-success fa fa-angle-double-right" ng-click="printerControlsController.showCalibrationScreen(100, 0)"> 100</a>
</span>
<h6>Y in mm (thin line)</h6>
<input type="text" class="form-control" placeholder="mm" ng-model="printerControlsController.calibration.yMM">
<h6>Change distance between Y lines</h6>
<span class="btn-group" >
	<a class="btn btn-sm btn-danger fa fa-angle-double-down" ng-click="printerControlsController.showCalibrationScreen(0, -100)"> 100</a> 
	<a class="btn btn-sm btn-danger fa fa-angle-down" ng-click="printerControlsController.showCalibrationScreen(0, -10)"> 10</a> 
	<a class="btn btn-sm btn-danger fa fa-angle-down" ng-click="printerControlsController.showCalibrationScreen(0, -1)"> 1</a>
	<a class="btn btn-sm btn-success fa fa-angle-up" ng-click="printerControlsController.showCalibrationScreen(0, 1)"> 1</a>
	<a class="btn btn-sm btn-success fa fa-angle-up" ng-click="printerControlsController.showCalibrationScreen(0, 10)"> 10</a>
	<a class="btn btn-sm btn-success fa fa-angle-double-up" ng-click="printerControlsController.showCalibrationScreen(0, 100)"> 100</a>
</span>