<span ng-controller="CardFooter as footer">
	<small class="pull-left">{{releaseTagName}}</small>
	<a class="btn btn-link btn-xs pull-right" href="https://github.com/area515/Creation-Workshop-Host/blob/master/README.md"><i class="fa fa-2x fa-question-circle-o" alt="help"></i></a>
	<a class="btn btn-link btn-xs pull-right" ng-click='downloadDiagnostic()'><i class="fa fa-2x fa-download"></i></a>
	<a class="btn btn-link btn-xs pull-right" ng-click='restorePhotonic()'><i class="fa fa-2x fa-upload"></i></a>
	<a class="btn btn-link btn-xs pull-right" ng-click='executeDiagnostic()'><i class="fa fa-2x fa-envelope-open-o"></i></a>
</span>