		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<i class="fa pull-left fa-2x fa-eyedropper"></i>
				<h4 class="pull-left">Ink Configuration: {{printersController.currentPrinter.configuration.slicingProfile.SelectedInk}} </h4>
				<div class="btn-group pull-right" >
					<button class="btn btn-primary" ng-disabled="printersController.currentPrinter.started" ng-click="savePrinter(printersController.currentPrinter)" >
						<i class="fa fa-pencil"></i>
						<span>Save</span>
					</button>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<i class="fa fa-2x fa-eye pull-left"></i>
					<div>
						<h4 class="pull-left">Print Material Detector</h4>
						<button class="btn btn-primary pull-right" ng-disabled="!printersController.currentPrinter.started" ng-click="printersController.testRemainingPrintMaterial(printersController.currentPrinter)" >
						Test
						</button>
					</div>
					<select name="type" class="form-control"
						ng-model="printersController.currentPrinter.configuration.slicingProfile.InkConfig[printersController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].PrintMaterialDetector" 
						ng-options="inkDetector.className as inkDetector.name for inkDetector in printersController.inkDetectors">
					  <option value="" selected>Select an Ink Detector...</option>
					</select>
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-adjust fa-rotate-90 pull-left"></i>
					<h4>Pause on Print Material Remaining (%)</h4>
					<input type="text" class="form-control" placeholder="%" ng-model="printersController.currentPrinter.configuration.slicingProfile.InkConfig[printersController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].PercentageOfPrintMaterialConsideredEmpty">
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-money pull-left"></i>
					<h4>Resin Price Per Liter ($)</h4>
					<input type="text" class="form-control" placeholder="$" ng-model="printersController.currentPrinter.configuration.slicingProfile.InkConfig[printersController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].ResinPriceL">
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-reorder pull-left"></i>
					<h4>Slice Height (mm)</h4>
					<input type="text" class="form-control" placeholder="mm" ng-model="printersController.currentPrinter.configuration.slicingProfile.InkConfig[printersController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].SliceHeight">
				</div>
				<div class="list-group-item">
					<del><i class="fa fa-2x fa-fire pull-left"></i>
					<h4>Exposure Time (ms)</h4></del>
					<input type="text" class="form-control" placeholder="mm" ng-model="printersController.currentPrinter.configuration.slicingProfile.InkConfig[printersController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].LayerTime">
				</div>
				<div class="list-group-item">
					<del><i class="fa fa-2x fa-sort-numeric-asc pull-left"></i>
					<h4>Number Of First Layers</h4></del>
					<input type="text" class="form-control" placeholder="count" ng-model="printersController.currentPrinter.configuration.slicingProfile.InkConfig[printersController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].NumberofBottomLayers">
				</div>
				<div class="list-group-item">
					<del><span class="fa-stack fa-2x pull-left">
						<i class="fa fa-stack-1x fa-fire"></i>
						<i class="fa fa-stack-1x fa-reorder"></i>
					</span>
					<h4>Exposure Time For First Layers (ms)</h4></del>
					<input type="text" class="form-control" placeholder="ms" ng-model="printersController.currentPrinter.configuration.slicingProfile.InkConfig[printersController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].FirstLayerTime">
				</div>
			</div>
			
			<div class="panel-footer">
				<span ng-include="'cardFooter.html'"></span>
			</div>
		</div>