<form class="form-horizontal" >
	<div class="modal-header">
			<div class="btn-group pull-left">
				<button class="btn btn-danger" data-dismiss="modal" ng-click="cancel()">
					Cancel
				</button>
			</div>
			
			<div class="btn-group pull-right">
				<button class="btn btn-success" data-dismiss="modal" ng-click="save()">
					Save
				</button>
			</div>
			
			<h4 class="modal-title">
					{{title}}
			</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label class="col-xs-4 control-label">To</label>
			<div class="col-xs-8">
				<label class="col-xs-4 control-label pull-left">{{ editMessage.toUser.name }}</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 control-label">Message</label>
			<div class="col-xs-8">
				<textarea rows="4" cols="50" class="form-control" ng-model="editMessage.message">
			</div>
		</div>
	</div>
</form>

<div class="modal-footer">
	<span ng-include="'cardFooter.html'"></span>
</div>	
