<form class="form-horizontal" >
	<div class="modal-header">
			<div class="btn-group pull-left">
				<button class="btn btn-danger" data-dismiss="modal" ng-click="cancel()">
					Cancel
				</button>
			</div>
			
			<div class="btn-group pull-right">
				<button class="btn btn-success" data-dismiss="modal" ng-click="save()">
					Save
				</button>
			</div>
			
			<h4 class="modal-title">
					{{title}}
			</h4>
	</div>
	<div class="modal-body">
			<div class="form-group">
				<label class="col-xs-4 control-label">Printer Name</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" placeholder="Printer Name" ng-model="editPrinter.configuration.name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 control-label"></label>
				<div class="col-xs-8">
					<input type="checkbox" ng-model="editPrinter.configuration.AutoStart">Start printer when Photonic3D starts</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 control-label">Display</label>
				<div class="col-xs-8">
					<select name="type" class="form-control" 
						ng-model="editPrinter.configuration.machineConfig.MonitorDriverConfig.OSMonitorID" 
						ng-options="graphicsDisplay for graphicsDisplay in graphicsDisplays">
					  <option value="" selected>Select a Graphics Display...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 control-label">Full Screen Mode</label>
				<div class="col-xs-8">
					<select name="type" class="form-control" 
						ng-model="editPrinter.configuration.machineConfig.MonitorDriverConfig.FullScreenMode" 
						ng-options="mode for mode in fullScreenModes">
					  <option value="" selected>Select a full screen mode...</option>
					</select>
				</div>
			</div>
			<div cwh-comport
				serialportlabel="'Motors Serial Port'"
				ng-model="editPrinter.configuration.machineConfig.MotorsDriverConfig.ComPortSettings"
				serialportchoices="serialPorts"
				speedchoices="comPortSpeeds"
				paritychoices="parities"
				stopbitschoices="stopBits"
				databitschoices="dataBits">
			</div>
			<div cwh-comport
				serialportlabel="'Projector Serial Port'"
				ng-model="editPrinter.configuration.machineConfig.MonitorDriverConfig.ComPortSettings"
				serialportchoices="serialPorts"
				speedchoices="comPortSpeeds"
				paritychoices="parities"
				stopbitschoices="stopBits"
				databitschoices="dataBits">
			</div>
	</div>
</form>

<div class="modal-footer">
	<span ng-include="'cardFooter.html'"></span>
</div>	
