<div class="panel panel-default bootcards-media" ng-show="printJobsController.currentPrintJob.printInProgress">
	<div class="panel-heading clearfix">
			<i class="fa fa-2x fa-camera pull-left"></i>
			<h3 class="panel-title pull-left">Build Photo: {{printJobsController.currentPrintJob.jobName}}</h3>
			<div class="col-md-6 pull-right">
				<input class="col-md-2 col-lg-2 cwh-input-smallbox form-control" type="text" placeholder="width" ng-model="printJobsController.currentBuildPhoto.width">
				<input class="col-md-2 col-lg-2 cwh-input-smallbox form-control" type="text" placeholder="height" ng-model="printJobsController.currentBuildPhoto.height">
				<a class="btn btn-primary" ng-click="printJobsController.takeBuildPhoto()">
					<i class="fa fa-play"></i> 
					<span>Take Picture</span>
				</a>
			</div>
	</div>
	<div class="panel-body">
		<img ng-src="{{printJobsController.currentBuildPhoto.url}}" class="img-responsive"/>
	</div>
	<div class="panel-footer">
		<span ng-include="'cardFooter.html'"></span>
	</div>
</div>