<div class="panel panel-default" ng-show="printersController.currentPrinter">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">Basic Printer Setup</h3>
	    <div class="btn-group pull-right">
			<button class="btn btn-success" ng-disabled="printersController.currentPrinter.started" ng-click="printersController.startCurrentPrinter()">
				<i id="start-btn" class="fa fa-play"></i> 
				<span>Start</span>
			</button>
			<button class="btn btn-danger" ng-disabled="!printersController.currentPrinter.started" ng-click="printersController.stopCurrentPrinter()">
				<i id="stop-btn" class="fa fa-stop"></i> 
				<span>Stop</span>
			</button>
			<button class="btn btn-primary" ng-disabled="!printersController.currentPrinter.started" ng-click="printersController.gotoPrinterControls()" >
				<i class="fa fa-wrench"></i> 
				<span>Controls</span>
			</button>
	    </div>
	</div>
	<div class="list-group">
		<div class="list-group-item">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-stack-2x fa-2x fa-print"></i>
			  <i class="fa fa-stack-2x fa-2x fa-refresh fa-spin text-danger" ng-show="printersController.currentPrinter.configuration.AutoStart"></i>
			</span>
			<label>Name</label>
			<h4 class="list-group-item-heading">{{printersController.currentPrinter.configuration.name}}</h4>
		</div>
		<div class="list-group-item">
			<label>Serial Port</label>
			<h4 class="list-group-item-heading">{{printersController.currentPrinter.configuration.machineConfig.MotorsDriverConfig.ComPortSettings.PortName}}</h4>
		</div>
		<div class="list-group-item">
			<label>Display</label>
			<h4 class="list-group-item-heading">{{printersController.currentPrinter.configuration.machineConfig.MonitorDriverConfig.OSMonitorID}}</h4>
		</div>
		<div class="list-group-item">
			<label>Autostart</label>
			<h4 class="list-group-item-heading">{{printersController.currentPrinter.configuration.AutoStart}}</h4>
		</div>
		<div class="list-group-item">
			<!--<div class="btn-group pull-right">
				<button class="btn btn-primary" ng-click="printersController.gotoPrinterControls()" >
					<b class="fa fa-wrench"></b> 
					<span>Manage</span>
				</button>
			</div>-->
			<label>Machine Configuration</label>
			<h4 class="list-group-item-heading">{{printersController.currentPrinter.configuration.MachineConfigurationName}}</h4>
			<select name="type" class="form-control"
				ng-model="printersController.currentPrinter.configuration.machineConfig" 
				ng-options="item as item.name for item in printersController.machineConfigurations track by item.name"
				ng-change="printersController.currentPrinter.configuration.MachineConfigurationName=printersController.currentPrinter.configuration.machineConfig.name"
				required>
			  <option value="">{{printersController.loadingMachineConfigMessage}}</option>
			</select>
		</div>
		<div class="list-group-item">
			<label>Slicing Profile</label>
			<h4 class="list-group-item-heading">{{printersController.currentPrinter.configuration.SlicingProfileName}}
			<div class="btn-group pull-right" style=" padding-bottom: 5px;" >
				<button class="btn btn-primary" ng-disabled="printersController.currentPrinter.started" ng-click="savePrinter(printersController.currentPrinter)" >
					<i class="fa fa-pencil" style="width: 0px";></i>
					<span>Save</span>
				</button>
				<button class="btn btn-danger" ng-disabled="printersController.currentPrinter.started" ng-click="printersController.deleteSlicingProfile(printersController.currentPrinter.configuration.slicingProfile.name)">
					<i class="fa fa-trash-o" style="width: 0px"></i> 
					<span>Remove</span>
				</button>
				<button class="btn btn-success" ng-disabled="printersController.currentPrinter.started" ng-click="printersController.copySlicingProfile('Copy slicing profile')">
					<i class="fa fa-plus" style="width: 0px"></i> 
					<span>Copy</span>
				</button>
			</div></h4>
			<select name="type" class="form-control"
				ng-model="printersController.currentPrinter.configuration.slicingProfile" 
				ng-options="item as item.name for item in printersController.slicingProfiles track by item.name"
				ng-change="printersController.currentPrinter.configuration.SlicingProfileName=printersController.currentPrinter.configuration.slicingProfile.name"
				required>
			  <option value="">{{printersController.loadingProfilesMessage}}</option>
			</select>
		</div>
		<div class="list-group-item">
			<label>Ink Configuration</label>
			<h4 class="list-group-item-heading">{{printersController.currentPrinter.configuration.slicingProfile.SelectedInk}}
			<div class="btn-group pull-right" style=" padding-bottom: 5px;" >
				<button class="btn btn-primary" ng-disabled="printersController.currentPrinter.started" ng-click="savePrinter(printersController.currentPrinter)" >
					<i class="fa fa-pencil" style="width: 0px";></i>
					<span>Save</span>
				</button>
				<button class="btn btn-danger" ng-disabled="printersController.currentPrinter.started" ng-click="printersController.deleteCurrentResinProfile(settingsController.currentPrinter.configuration.slicingProfile)">
					<i class="fa fa-trash-o" style="width: 0px"></i> 
					<span>Remove</span>
				</button>
				<button class="btn btn-success" ng-disabled="printersController.currentPrinter.started" ng-click="printersController.openSaveResinDialog('Add Resin Profile')">
					<i class="fa fa-plus" style="width: 0px"></i> 
					<span>Create</span>
				</button>
			</div></h4>
			<select name="type" class="form-control"
				ng-model="printersController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex"
				ng-options="index*1 as item.Name for (index, item) in printersController.currentPrinter.configuration.slicingProfile.InkConfig track by index"
				ng-change="printersController.currentPrinter.configuration.slicingProfile.SelectedInk=printersController.currentPrinter.configuration.slicingProfile.InkConfig[printersController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].Name">
			  <option value="">Select an ink configuration...</option>
			</select>
		</div>
	</div>
			
	<div class="panel-footer">
		<span ng-include="'cardFooter.html'"></span>
	</div>
</div>