		<div class="row">
			

			<!-- Printables -->
			<div class="col-sm-5 bootcards-list" id="list">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-2x fa-files-o pull-left"></i>
						<h3 class="panel-title pull-left">Printable Files</h3>
						<div class="row">
							<div class="btn-group pull-right" >
								<button class="btn btn-success" ng-disabled="printablesController.currentPrintable == null" ng-click="printablesController.printPrintable()" >
									<i class="fa fa-print"></i>
									<span>Print</span>
								</button>
								<button class="btn btn-danger" ng-disabled="printablesController.currentPrintable == null" ng-click="printablesController.deletePrintable()">
									<i class="fa fa-trash-o"></i> 
									<span>Remove</span>
								</button>
								<button class="btn btn-primary" ng-click="printablesController.showUpload()">
									<i class="fa fa-upload"></i> 
									<span>Upload</span>
								</button>
						    </div>
						</div>
					</div>
					<div class="list-group">
						<a ng-class="{active:printable.name == printablesController.currentPrintable.name}" ng-repeat="printable in printablesController.printables"
							class="list-group-item"
				 			ng-click="printablesController.changeCurrentPrintable(printable)">
								<i class="pull-left fa fa-2x" ng-class="printablesController.getPrintableIconClass(printable)"></i>
								<h4 class="list-group-item-heading">{{printable.name}}</h4>
								<p class="list-group-item-text">
									Size: {{printable.size | number}}  
								</p>
								<p class="list-group-item-text">
									<span class="pull-left">Date: {{printable.modifiedDate}}</span>
									<span class="pull-right">{{printable.printFileProcessor.friendlyName}}</span>
								</p>
						</a>
					</div>
					<div class="panel-footer">
						<span ng-include="'cardFooter.html'"></span>
					</div>			
				</div>
			</div>
			<!-- End Printables -->

			<!-- Preview Box -->
			<div class="col-sm-7" id="preview"> 
				<div class="preview-box"> 
					<div class="panel panel-default" style="height:450px;">
						<div class="panel-heading">
							<i class="fa fa-2x fa-desktop pull-left"></i>
							<h3 class="panel-title pull-left">Preview box for: {{printablesController.currentPrintable.name}}
							</h3>
								<h3 class="panel-title pull-right">Project Image</h3>							
								<span class="btn-group pull-right" >
								<a class="btn btn-danger btn-sm" ng-click="printablesController.setProjectImage(false)" ng-disabled="printablesController.isProjectImage()">
									<b class="fa fa-toggle-off"></b> 
									<b class="cwh-text-indent">Off</b>
								</a>
								<a class="btn btn-success btn-sm" ng-click="printablesController.setProjectImage(true)" ng-disabled="!printablesController.isProjectImage()">
									<b class="fa fa-toggle-on"></b> 
									<b class="cwh-text-indent">On</b>
								</a>
							</span>
							<div class="row">
							</div>
						</div>
						<div class="panel-body">
							<p> <b>{{printablesController.errorMsg}}</b> </p>
							<img ng-src="{{printablesController.currentPreviewImg}}" handle-error class="img-responsive" style="width:100%; height:100%;"/>
						</div>
					</div>
				</div>
			</div>
			<!-- End Preview Box -->

			<!-- Customizer -->
			<div class="col-sm-7 bootcards-list pull-right" id="controls" ng-show="printablesController.showControls">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-2x fa-magic pull-left"></i>
						<h3 class="panel-title pull-left">Customizer
						</h3>
						<div class="row">
							<div class="btn-group pull-right" >
							<button class="btn btn-success" ng-click="printablesController.printWithCustomizer()">
									<i class="fa fa-print"></i> 
									<span>Print with Customizations</span>	
							</button>
							</div>
						</div>
					</div> 
					<div class="list-group">
						<div class="list-group-item">
							<i class="fa fa-2x fa-exchange fa-rotate-90 pull-left"></i>
							<h4>Flip Image</h4>
							<span class="btn-group" >
								<a class="btn btn-danger btn-sm" ng-click="printablesController.changeFlip(1)" ng-disabled="!printablesController.isFlipped()">
									<b class="fa fa-toggle-off"></b> 
									<b class="cwh-text-indent">Off</b>
								</a>
								<a class="btn btn-success btn-sm" ng-click="printablesController.changeFlip(-1)" ng-disabled="printablesController.isFlipped()">
									<b class="fa fa-toggle-on"></b> 
									<b class="cwh-text-indent">On</b>
								</a>
							</span>
						</div>

						<!-- form style="margin-bottom:10px;" class="col-sm-5">
							<h5>Flip Image
							<input type="checkbox" ng-model="printablesController.currentCustomizer.affineTransformSettings.yscale" ng-true-value="-1" ng-false-value="1" ng-change="printablesController.changeFlip()"> 
							</h5>
						</form> -->

						<div class="list-group-item">
							<i class="fa fa-2x fa-arrows pull-left"></i>
							<h4>Positioning</h4>
							<h6>Translate image on Y axis: {{printablesController.currentCustomizer.affineTransformSettings.ytranslate}}</h6>
							<span class="btn-group btn-xs" >
								<!-- <a class="btn btn-xs btn-danger fa fa-angle-double-down" ng-click="printablesController.changeTranslate(0, 500)">500</a>  -->
								<a class="btn btn-sm btn-danger fa fa-angle-double-down" ng-click="printablesController.changeTranslate(0, 100)">100</a> 
								<a class="btn btn-sm btn-danger fa fa-angle-down" ng-click="printablesController.changeTranslate(0, 10)">10</a>
								<a class="btn btn-sm btn-danger fa fa-angle-down" ng-click="printablesController.changeTranslate(0, 1)">1</a>
								<a class="btn btn-sm btn-success fa fa-angle-up" ng-click="printablesController.changeTranslate(0, -1)">1</a>
								<a class="btn btn-sm btn-success fa fa-angle-up" ng-click="printablesController.changeTranslate(0, -10)">10</a>
								<a class="btn btn-sm btn-success fa fa-angle-double-up" ng-click="printablesController.changeTranslate(0, -100)">100</a>
								<!-- <a class="btn btn-xs btn-success fa fa-angle-double-up" ng-click="printablesController.changeTranslate(0, -500)">500</a> -->
							</span>					
							<h6>Translate image on X axis: {{printablesController.currentCustomizer.affineTransformSettings.xtranslate}}</h6>
							<span class="btn-group btn-xs" >
								<!-- <a class="btn btn-xs btn-danger fa fa-angle-double-left" ng-click="printablesController.changeTranslate(-500, 0)">500</a>  -->
								<a class="btn btn-sm btn-danger fa fa-angle-double-left" ng-click="printablesController.changeTranslate(-100, 0)">100</a> 
								<a class="btn btn-sm btn-danger fa fa-angle-left" ng-click="printablesController.changeTranslate(-10, 0)">10</a>
								<a class="btn btn-sm btn-danger fa fa-angle-left" ng-click="printablesController.changeTranslate(1, 0)">1</a>
								<a class="btn btn-sm btn-success fa fa-angle-right" ng-click="printablesController.changeTranslate(-1, 0)">1</a>
								<a class="btn btn-sm btn-success fa fa-angle-right" ng-click="printablesController.changeTranslate(10, 0)">10</a>
								<a class="btn btn-sm btn-success fa fa-angle-double-right" ng-click="printablesController.changeTranslate(100, 0)">100</a>
								<!-- <a class="btn btn-xs btn-success fa fa-angle-double-right" ng-click="printablesController.changeTranslate(500, 0)">500</a> -->
							</span>
							<button class="btn btn-danger" ng-disabled="printablesController.isNotModified()" ng-click="printablesController.resetTranslation()">
								<!-- <i class="fa fa-undo pull-left"></i>  -->
								<span>Reset</span>
							</button>
						</div>	
					</div>
					<!-- End list group -->
					<div class="panel-footer">
						<span ng-include="'cardFooter.html'"></span>
					</div>
				</div>
			</div>
			<!-- End Customizer -->

		</div>
	<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<span ng-include="'upload.html'"></span>
			</div>
		</div>
	</div>
