		<div class="row">
			<div class="col-sm-5 bootcards-list" id="list">
				<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-2x fa-files-o pull-left"></i>
							<h3 class="panel-title pull-left">Printable Files</h3>
							<div class="row">
								<div class="btn-group pull-right" >
									<button class="btn btn-success" ng-disabled="printablesController.currentPrintable == null" ng-click="printablesController.printPrintable()" >
										<i class="fa fa-print"></i>
										<span>Print</span>
									</button>
									<button class="btn btn-danger" ng-disabled="printablesController.currentPrintable == null" ng-click="printablesController.deletePrintable()">
										<i class="fa fa-trash-o"></i> 
										<span>Remove</span>
									</button>
									<button class="btn btn-primary" ng-click="printablesController.showUpload()">
										<i class="fa fa-upload"></i> 
										<span>Upload</span>
									</button>
							    </div>
						</div>
					</div>
					<div class="list-group">
						<a ng-class="{active:printable.name == printablesController.currentPrintable.name}" ng-repeat="printable in printablesController.printables"
							class="list-group-item"
				 			ng-click="printablesController.changeCurrentPrintable(printable)">
								<i class="pull-left fa fa-2x" ng-class="printablesController.getPrintableIconClass(printable)"></i>
								<h4 class="list-group-item-heading">{{printable.name}}</h4>
								<p class="list-group-item-text">
									Size: {{printable.size | number}}  
								</p>
								<p class="list-group-item-text">
									<span class="pull-left">Date: {{printable.modifiedDate}}</span>
									<span class="pull-right">{{printable.printFileProcessor.friendlyName}}</span>
								</p>
						</a>
					</div>
					<div class="panel-footer">
						<span ng-include="'cardFooter.html'"></span>
					</div>			
				</div>
			</div>
			<!-- Code added by Wilbur Shi -->
			<div class="col-sm-7" id="preview"> 
				<div class="preview-box"> 
					<div class="panel panel-default" style="height:450px;">
						<div class="panel-heading">Preview box for: {{printablesController.currentPrintable.name}}</div>
						<div style="height: 300px" class="panel-body">
							<p> <b>{{printablesController.errorMsg}}</b> </p>
							<img ng-src="{{printablesController.currentPreviewImg}}" handle-error class="img-responsive" style="width:100%; height:100%;"/>
						</div>
					</div>
				</div>
				<form hidden>
					<input hidden type="checkbox" ng-model="printablesController.currentCustomizer.affineTransformSettings.yscale" ng-true-value="-1" ng-false-value="0" ng-change="printablesController.changeFlip()"> Flip image
					<br>
				</form>
				<tt hidden>Flipped = {{printablesController.currentCustomizer.affineTransformSettings.yscale}}</tt><br>
<!-- 				<button hidden class="btn btn-primary" ng-click="printablesController.test()">
										<i class="fa fa-upload"></i> 
										<span>Test</span>
									</button> -->
			</div>
			<!-- End code added by Wilbur Shi -->
		</div>
	<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<span ng-include="'upload.html'"></span>
			</div>
		</div>
	</div>
