	<div class="row">
		<div class="row">
			<div class="col-sm-5 bootcards-list">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<i class="fa fa-2x fa-print pull-left"></i>
						<h3 class="panel-title pull-left">All Printers</h3>
						<div class="row">
							<div class="btn-group pull-right" >
								<button class="btn btn-primary" ng-disabled="printersController.currentPrinter.started || printersController.currentPrinter == null" ng-click="editCurrentPrinter('Edit Basic Printer')" >
									<i class="fa fa-pencil"></i>
									<span>Edit</span>
								</button>
								<button class="btn btn-danger" ng-disabled="printersController.currentPrinter == null" ng-click="printersController.deleteCurrentPrinter()">
									<i class="fa fa-trash-o"></i> 
									<span>Remove</span>
								</button>
								<button class="btn btn-success" ng-click="printersController.createNewPrinter('Create Basic Printer')">
									<i class="fa fa-plus"></i> 
									<span>Create</span>
								</button>
						    </div>
						</div>
					</div>
					<div class="list-group">
							<a ng-class="{active:printer.configuration.name == printersController.currentPrinter.configuration.name}" ng-repeat="printer in printers"
								class="list-group-item"
					 			ng-click="printersController.changeCurrentPrinter(printer)">
					 			<span class="pull-left fa-stack fa-lg">
									<i class="fa fa-stack-1x fa-2x fa-print"></i>
			  						<i class="fa fa-stack-2x fa-2x fa-play text-danger" ng-show="printer.printInProgress"></i>
									<i class="fa fa-stack-3x fa-2x fa-ban text-danger" ng-hide="printer.started"></i>
								</span>
								<h4 class="list-group-item-heading">{{printer.configuration.name}}</h4>
								<p class="list-group-item-text">{{printer.printInProgress?"Status:" + printer.status:"Port:" + printer.configuration.machineConfig.MotorsDriverConfig.ComPortSettings.PortName + " Display:" + printer.configuration.machineConfig.MonitorDriverConfig.OSMonitorID}}</p>
							</a>
							<div class="list-group-item" ng-show="printers.length == 0">
								<i class="pull-left fa fa-2x fa-exclamation-triangle"></i>
								<h3 class="list-group-item-heading" >Haven't setup a printer?<br>Try one of these...</h3>
							</div>
							<a class="list-group-item" ng-show="printers.length == 0" ng-repeat="printer in communityPrinters" ng-click="installCommunityPrinter(printer)">
								<i class="pull-left fa fa-2x fa-print"></i>
								<h4 class="list-group-item-heading">Printer: {{printer.name}}</h4>
								<p class="list-group-item-text">
										Printer Community: {{repo}}
								</p>
								<p class="list-group-item-text">
										SHA: {{printer.sha}}
								</p>
								<p class="list-group-item-text">
										Size: {{printer.size}}
								</p>
							</a>
					</div>
					<div class="panel-footer">
						<span ng-include="'cardFooter.html'"></span>
					</div>			
				</div>
			</div>
			<div class="col-sm-7 bootcards-cards">
				<span ng-include="'printer.html'"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 bootcards-cards">
				<span ng-include="'editInkConfig.html'" ng-show="printersController.currentPrinter"></span>
			</div>
			<div class="col-sm-7 bootcards-cards">
				<span ng-include="'2dProperties.html'" ng-show="printersController.currentPrinter"></span>
			</div>
		</div>
		<div>
			<div class="col-sm-5 bootcards-cards">
				<span ng-include="'editGCodeTemplates.html'" ng-show="printersController.currentPrinter"></span>
			</div>
			<div class="col-sm-7 bootcards-cards">
				<span ng-include="'editCalculators.html'" ng-show="printersController.currentPrinter"></span>
			</div>
			<div class="col-sm-7 bootcards-cards">
				<span ng-include="'advancedProperties.html'" ng-show="printersController.currentPrinter"></span>
			</div>
		</div>		
	</div>
		
	<div class="modal fade" id="graphScript" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<span ng-include="'graphScript.html'"></span>
			</div>
		</div>
	</div>
	