<div class="row">
	<div class="col-sm-6 bootcards-list">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<span class="pull-left fa-stack fa-lg">
					<i class="fa fa-stack-1x fa-2x fa-print"></i>
					<i class="fa fa-stack-2x fa-2x fa-play text-danger cwh-text-opacity_50" ng-show="printerControlsController.currentPrinter.printInProgress"></i>
					<i class="fa fa-stack-3x fa-2x fa-ban text-danger cwh-text-opacity_50" ng-hide="printerControlsController.currentPrinter.started"></i>
				</span>
				<h4 class="pull-left">Printer Controls: {{printerControlsController.currentPrinter.configuration.name}} </h4>
				<div class="btn-group pull-right">
					<button class="btn btn-primary" ng-click="printerControlsController.returnToPrinterList()">
						<i class="fa fa-undo"></i> 
						<span>Return to Printer List</span>
					</button>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<i class="fa fa-2x fa-arrows-h pull-left"></i>
					<h4>X Axis</h4>
					<span class="btn-group" >
						<a class="btn btn-sm btn-danger fa fa-angle-double-left" ng-click="printerControlsController.move('X', -50)"> 50</a> 
						<a class="btn btn-sm btn-danger fa fa-angle-left" ng-click="printerControlsController.move('X', -10)"> 10</a> 
						<a class="btn btn-sm btn-danger fa fa-angle-left" ng-click="printerControlsController.move('X', -1)"> 1</a>
						<a class="btn btn-sm btn-danger fa fa-angle-left" ng-click="printerControlsController.move('X', -.025)"> .025</a>
						<a class="btn btn-sm btn-primary fa fa-home" ng-click="printerControlsController.home('X')"></a>
						<a class="btn btn-sm btn-success fa fa-angle-right" ng-click="printerControlsController.move('X', .025)"> .025</a>
						<a class="btn btn-sm btn-success fa fa-angle-right" ng-click="printerControlsController.move('X', 1)"> 1</a>
						<a class="btn btn-sm btn-success fa fa-angle-right" ng-click="printerControlsController.move('X', 10)"> 10</a>
						<a class="btn btn-sm btn-success fa fa-angle-double-right" ng-click="printerControlsController.move('X', 50)"> 50</a>
					</span>
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-expand pull-left"></i>
					<h4>Y Axis</h4>
					<span class="btn-group clearfix" >
						<span class="btn btn-sm btn-danger fa fa-angle-double-down" ng-click="printerControlsController.move('Y', -50)"> 50</span> 
						<span class="btn btn-sm btn-danger fa fa-angle-down" ng-click="printerControlsController.move('Y', -10)"> 10</span> 
						<span class="btn btn-sm btn-danger fa fa-angle-down" ng-click="printerControlsController.move('Y', -1)"> 1</span>
						<span class="btn btn-sm btn-danger fa fa-angle-down" ng-click="printerControlsController.move('Y', -.025)"> .025</span>
						<span class="btn btn-sm btn-primary fa fa-home" ng-click="printerControlsController.home('Y')"></span> 
						<span class="btn btn-sm btn-success fa fa-angle-up" ng-click="printerControlsController.move('Y', .025)"> .025</span>
						<span class="btn btn-sm btn-success fa fa-angle-up" ng-click="printerControlsController.move('Y', 1)"> 1</span>
						<span class="btn btn-sm btn-success fa fa-angle-up" ng-click="printerControlsController.move('Y', 10)"> 10</span>
						<span class="btn btn-sm btn-success fa fa-angle-double-up" ng-click="printerControlsController.move('Y', 50)"> 50</span>
					</span>
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-arrows-v pull-left"></i>
					<h4>Z Axis</h4>
					<span class="btn-group clearfix" >
						<span class="btn btn-sm btn-danger fa fa-angle-double-down" ng-click="printerControlsController.move('Z', -50)"> 50</span> 
						<span class="btn btn-sm btn-danger fa fa-angle-down" ng-click="printerControlsController.move('Z', -10)"> 10</span> 
						<span class="btn btn-sm btn-danger fa fa-angle-down" ng-click="printerControlsController.move('Z', -1)"> 1</span>
						<span class="btn btn-sm btn-danger fa fa-angle-down" ng-click="printerControlsController.move('Z', -.025)"> .025</span>
						<span class="btn btn-sm btn-primary fa fa-home" ng-click="printerControlsController.home('Z')"></span> 
						<span class="btn btn-sm btn-success fa fa-angle-up" ng-click="printerControlsController.move('Z', .025)"> .025</span>
						<span class="btn btn-sm btn-success fa fa-angle-up" ng-click="printerControlsController.move('Z', 1)"> 1</span>
						<span class="btn btn-sm btn-success fa fa-angle-up" ng-click="printerControlsController.move('Z', 10)"> 10</span>
						<span class="btn btn-sm btn-success fa fa-angle-double-up" ng-click="printerControlsController.move('Z', 50)"> 50</span>
					</span>
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-bolt pull-left"></i>
					<h4>Motors</h4>
					<span class="btn-group" >
						<a class="btn btn-danger btn-sm" ng-click="printerControlsController.motor(false)">
							<b class="fa fa-toggle-off"></b> 
							<b class="cwh-text-indent">Disable</b>
						</a>
						<a class="btn btn-success btn-sm" ng-click="printerControlsController.motor(true)">
							<b class="fa fa-toggle-on"></b>
							<b class="cwh-text-indent">Enable</b>
						</a>
					</span>
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-code pull-left"></i>
					<h4>Execute Gcode</h4>
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" ng-click="printerControlsController.executeGCode(gCodeToSend)">Go</button>
						</span>
						<input type="text" class="form-control" on-enter="printerControlsController.executeGCode(gCodeToSend)" ng-model="printerControlsController.gCodeToSend" placeholder="gcode">
					</div>
					<textarea class="form-control" ng-model="printerControlsController.gcodeProcessing" rows="6"></textarea>
				</div>
			</div>
			
			<div class="panel-footer">
				<span ng-include="'cardFooter.html'"></span>
			</div>
		</div>
	</div>
	<div class="col-sm-4 bootcards-list" id="list">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<span class="pull-left fa-stack fa-lg">
					<i class="fa fa-stack-1x fa-2x fa-print"></i>
					<i class="fa fa-stack-2x fa-2x fa-play text-danger cwh-text-opacity_50" ng-show="printerControlsController.currentPrinter.printInProgress"></i>
					<i class="fa fa-stack-3x fa-2x fa-ban text-danger cwh-text-opacity_50" ng-hide="printerControlsController.currentPrinter.started"></i>
				</span>
				<h4 class="pull-left">Light Source Control: {{printerControlsController.currentPrinter.configuration.name}} </h4>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<i class="fa fa-2x fa-tv pull-left"></i>
					<h4>Light Source Power</h4>
					<span class="btn-group" >
						<a class="btn btn-danger btn-sm" ng-click="printerControlsController.projector('stop')">
							<b class="fa fa-toggle-off"></b> 
							<b class="cwh-text-indent">Off</b>
						</a>
						<a class="btn btn-success btn-sm" ng-click="printerControlsController.projector('start')">
							<b class="fa fa-toggle-on"></b> 
							<b class="cwh-text-indent">On</b>
						</a>
					</span>
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-adjust pull-left"></i>
					<h4>Shutter</h4>
					<span class="btn-group" >
						<a class="btn btn-danger btn-sm" ng-click="printerControlsController.shutter('close')">
							<b class="fa fa-toggle-off"></b>
							<b class="cwh-text-indent">Close</b>
						</a>
						<a class="btn btn-success btn-sm" ng-click="printerControlsController.shutter('open')">
							<b class="fa fa-toggle-on"></b>
							<b class="cwh-text-indent">Open</b>
						</a>
					</span>
				</div>
				<div class="list-group-item" ng-show="printerControlsController.currentPrinter.printInProgress">
					<i class="fa fa-2x fa-step-backward fa-rotate-90 pull-left"></i>
					<h4>Override Lift Speed (mm/m)</h4>
					<div class="input-group" 
						cwh-spinner 
						placeholder="mm/m"
						min="1" 
						max="100" 
						inc="1" 
						goClick="printerControlsController.overrideLiftSpeed()" 
						ng-model="printerControlsController.currentPrintJob.zliftSpeed">
					</div>
				</div>
				<div class="list-group-item" ng-show="printerControlsController.currentPrinter.printInProgress">
					<i class="fa fa-2x fa-sort-amount-asc fa-rotate-180 pull-left"></i>
					<h4>Override Lift Distance (mm)</h4>
					<div class="input-group" 
						cwh-spinner 
						placeholder="mm"
						min=".005" 
						max="10" 
						inc=".05" 
						goClick="printerControlsController.overrideLiftDistance()" 
						ng-model="printerControlsController.currentPrintJob.zliftDistance">
					</div>
				</div>
				<div class="list-group-item" ng-show="printerControlsController.currentPrinter.printInProgress">
					<i class="fa fa-2x fa-fire pull-left"></i>
					<h4>Override Exposure Time (ms)</h4>
					<div class="input-group" 
						cwh-spinner 
						placeholder="ms"
						min="1" 
						max="20000" 
						inc="100" 
						goClick="printerControlsController.overrideExposureTime()" 
						ng-model="printerControlsController.currentPrintJob.exposureTime">
					</div>
				</div>
				<div class="list-group-item" ng-hide="printerControlsController.currentPrinter.printInProgress">
					<i class="fa fa-2x fa-th pull-left"></i>
					<h4>Grid Screen (pixels)</h4>
					<div class="input-group"
						cwh-spinner 
						placeholder="pixels"
						min="1" 
						max="500" 
						inc="1" 
						goClick="printerControlsController.showGridScreen()" 
						incClick="printerControlsController.showGridScreen()"
						decClick="printerControlsController.showGridScreen()"
						ng-model="printerControlsController.squarePixelSize">
					</div>
				</div>
				<div class="list-group-item" ng-hide="printerControlsController.currentPrinter.printInProgress">
					<i class="fa fa-2x fa-crosshairs pull-left"></i>
					<h4>Calibration Process</h4>
					<span ng-include="'calibration.html'"></span>
					<a class="btn btn-primary btn-sm" ng-click="printerControlsController.calibrate()">
						<b class="fa fa-crosshairs"></b>
						<b class="cwh-text-indent">{{printerControlsController.calibration.startedCalibration?'Calibrate':'Start'}}</b>
					</a>
				</div>
				<div class="list-group-item" ng-hide="printerControlsController.currentPrinter.printInProgress">
					<b class="cwh-text-indent">X Density: {{printerControlsController.currentPrinter.configuration.slicingProfile.DotsPermmX|number:2}} (pixels/mm)</b><br>
					<b class="cwh-text-indent">Y Density: {{printerControlsController.currentPrinter.configuration.slicingProfile.DotsPermmY|number:2}} (pixels/mm)</b>
				</div>
				<div class="list-group-item" ng-hide="printerControlsController.currentPrinter.printInProgress">
					<b class="cwh-text-indent">X Width: {{printerControlsController.currentPrinter.configuration.slicingProfile.XResolution|number}} (pixels) {{printerControlsController.currentPrinter.configuration.slicingProfile.XResolution/printerControlsController.currentPrinter.configuration.slicingProfile.DotsPermmX|number:1}} (mm)</b><br>
					<b class="cwh-text-indent">Y Width: {{printerControlsController.currentPrinter.configuration.slicingProfile.YResolution|number}} (pixels) {{printerControlsController.currentPrinter.configuration.slicingProfile.YResolution/printerControlsController.currentPrinter.configuration.slicingProfile.DotsPermmY|number:1}} (mm)</b>
				</div>
				<div class="list-group-item" ng-hide="printerControlsController.currentPrinter.printInProgress">
					<a class="btn btn-primary btn-sm" ng-click="printerControlsController.showBlankScreen()">
						<b class="fa fa-square-o"></b>
						<b class="cwh-text-indent">Show Blank Screen</b>
					</a>
				</div>
			</div>
	
			<div class="panel-footer">
				<span ng-include="'cardFooter.html'"></span>
			</div>
		</div>
	</div>
</div>