<form ng-submit="printablesController.uploadURL()" class="form-horizontal">
<div class="modal-header">
		<div class="btn-group pull-left">
			<button class="btn btn-danger" data-dismiss="modal">
				Cancel
			</button>
		</div>
	
		<div class="btn-group pull-right">
			<button class="btn btn-primary" data-dismiss="modal" ng-disabled="printablesController.fileToUpload == null" ng-click="printablesController.uploadFile()">
				Upload File
			</button>
		</div>
		<div class="btn-group pull-right">
			<button class="btn btn-primary"  ng-disabled="printablesController.urlToUpload == null || printablesController.urlToUpload.trim() == '' || printablesController.filenameToUpload == null || printablesController.filenameToUpload == ''">
				Upload URL
			</button>
		</div>
		<h4 class="modal-title">
				Upload Printable
		</h4>
</div>
<div class="modal-body">
		<div class="form-group">
			<label class="col-xs-4 control-label">URL</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" placeholder="URL" ng-model="printablesController.urlToUpload" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 control-label">Filename</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" placeholder="filename.filetype" ng-model="printablesController.filenameToUpload" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 control-label"></label>
			<div class="col-xs-8">OR</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 control-label"></label>
			<div class="col-md-8">
				<!-- <input id="choosefilebutton" onchange="angular.element(this).scope().fileChanged(this)" type="file" /> -->
				<input ngf-select ng-model="printablesController.fileToUpload" name="file" type="file" accept="image/*">
  			</div>
		</div>
</div>
</form>

<div class="modal-footer">
	<span ng-include="'cardFooter.html'"></span>
</div>	
