 <md-card class="flex" ng-controller="PrinterCtrl">
      
      <md-card-content>

        <md-list>

          <md-list-item class="md-3-line" ng-repeat="item in printers">
        
            <div class="md-list-item-text">
              <h3>Name: {{item.configuration.name}}</h3>
              <h4>Started: {{item.started == 'true' ? 'Started' : 'Not Started'}}</h4>
              <p>
                Status: {{item.status === null ? 'Unknown' : item.status}}
              </p>
            </div>
            <md-divider inset="" ng-if="!$last"></md-divider>
          </md-list-item>

          <!-- <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Current Connection</h3>
              <h4>{{connection}}</h4>
            </div>
          </md-list-item>
          {{id}}
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Status</h3>
              <h4>{{status}}</h4>
            </div>
          </md-list-item>
 -->
          
        </md-list>

      </md-card-content>

      <!-- <md-divider></md-divider>

      <md-card-content>

        <md-list>
          

          <md-list-item class="md-3-line">
            <div class="md-list-item flex">
             <md-input-container class="md-block">
                <label>Available Printers</label>
                <md-select name="myModel" placeholder="Printer" ng-model="selectedprinter">
                <md-option ng-repeat="printer in printers" value="{{printer.name}}">{{printer.name}}</md-option>
                </md-select>
                <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
             </md-input-container>
         

            </div>
            
          </md-list-item>
        </md-list>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="refreshId()">Connect</md-button>
          <md-button>Stop</md-button>
        </md-card-actions>

      </md-card-content> -->




    </md-card>