
<md-card flex ng-controller="PrinterCtrl">

<!-- <md-content layout-padding>
    <md-grid-list
        md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" layout-sm="column">
      <md-grid-tile
          ng-repeat="printer in printers"
         
          md-colspan-gt-sm="6"
          md-rowspan-gt-sm="6">

          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Card with image</span>
                <span class="md-subhead">Large</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Action 1</md-button>
              <md-button>Action 2</md-button>
            </md-card-actions>
          </md-card>

      </md-grid-tile>
    </md-grid-list>
  </md-content> -->

<md-list>
<md-list-item class="md-3-line">
	<div class="md-list-item flex">
    	<md-input-container class="md-block">
        	<label>Selected Printers</label>
            <md-select name="myModel" placeholder="Select Printer" ng-model="selectedprinter">
            <md-option ng-repeat="printer in printers" value="{{printer.configuration.name}}">{{printer.configuration.name}}</md-option>
            </md-select>
            <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
            	<div ng-message="required">Required</div>
            </div>
        </md-input-container>
         
    </div>
            
	</md-list-item>
</md-list>

<div style="display:block;">
  <img ng-src="{{imagePath}}" class="md-card-image" alt="{{altImagePath}}" style="width:100%;height:100%;display:inline-block;">
</div>
<md-card-content class="flex-100">
<h2 class="md-title">Paracosm</h2>

<md-progress-linear md-mode="indeterminate"></md-progress-linear>
{{value}}
<md-list>
<md-list-item class="md-2-line">
<div class="md-list-item-text">
  <h3>Progress</h3>
  <h4>{{progress}}</h4>
</div>


</md-list-item>

<md-list-item class="md-2-line">
<div class="md-list-item-text">
  <h3>Cost</h3>
  <h4>{{cost}}</h4>
</div>


</md-list-item>


</md-list>

</md-card-content>

</md-card>
