
 <md-tabs md-stretch-tabs="always" class="md-primary" md-dynamic-height md-border-bottom >
        <md-tab id="tab1" aria-controls="Tab 1">
          <md-tab-label>Printer</md-tab-label>
          <md-tab-body ng-controller="SettingsCtrl">
            <md-content layout="row" layout-sm="column">
              
            	<configuration class="flex-50 flex-sm-100"></configuration>
            	<serialports class="flex-50 flex-sm-100"></serialports>	
            	
            </md-content>

            <md-content layout="row" layout-sm="column">
              
            	<machine class="flex-50 flex-sm-100"></machine>
            	<projector class="flex-50 flex-sm-100"></projector>
            	
            </md-content>
          </md-tab-body>
      </md-tab>
      <md-tab id="tab2" aria-controls="Tab 2">
          <md-tab-label>Slice</md-tab-label>
          <md-tab-body layout="column" ng-controller="SettingsCtrl">
           <md-content layout="row" layout-sm="column">
          <slicerconfiguration class="flex-50 flex-sm-100"></slicerconfiguration>
     		</md-content>
          
      	  </md-tab-body>
      </md-tab>

      <md-tab id="tab3" aria-controls="Tab 3">
          <md-tab-label>Application</md-tab-label>
          <md-tab-body layout="column" ng-controller="SettingsCtrl">

          </md-tab-body>
      </md-tab>
    </md-tabs>


