<md-card class="flex flex-sm-100">
    <md-content flex>
      <md-subheader class="md-no-sticky">{{data.title}}</md-subheader>
    </md-content>

    <md-content layout="row" flex>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="add" style="display:block;"></md-icon>
      </md-button>

      <md-input-container flex>
        <label flex>{{data.label}}</label>
        <input flex ng-model="user.title">
      </md-input-container>

      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="remove" style="display:block;"></md-icon>
      </md-button>

      <md-button class="md-raised md-primary md-icon-button" aria-label="More">
        <md-icon md-svg-icon="send" style="display:block;" flex></md-icon>
      </md-button>

  </md-content>
</md-card>