<md-card layout-align="center center">
    <md-content flex>
      <md-subheader class="md-no-sticky">{{data.title}}</md-subheader>
    </md-content>

     <!-- <md-switch aria-label="toggle" ng-model="toggle">{{ toggle ? 'Enabled' : 'Disabled' }}</md-switch> -->

      <md-input-container>
        <label>{{data.label}}</label>
        <input ng-model="user.title">
      </md-input-container>

      <md-button class="md-raised md-primary" aria-label="More">
                Send
      </md-button>
     

  </md-content>
</md-card>