<md-card layout-align="center center">
    <md-content flex>
      <md-subheader class="md-no-sticky">{{data.title}}</md-subheader>
    </md-content>

    <md-content layout="column" layout-align="center center">
      <md-button class="md-raised md-primary md-icon-button" aria-label="More">
        <md-icon md-svg-icon="arrow" class="arrow-up" style="display:block;"></md-icon>
      </md-button>

      <!-- <label>5</label> -->

      <md-input-container>
        <label>{{data.label}}</label>
        <!-- <label>steps</label> -->
        <input ng-model="user.title">
      </md-input-container>


      <md-button class="md-raised md-primary md-icon-button" aria-label="More">
        <md-icon md-svg-icon="arrow" class="arrow-down" style="display:block;" flex></md-icon>
      </md-button>

      <label>axis</label>

  </md-content>
</md-card>