 <md-card class="flex" ng-controller="SettingsCtrl">
      
      <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>Config</span>
          </h2>
        </md-toolbar>

      <md-card-content>

        <md-list>

           <md-list-item class="md-3-line">
            <div class="md-list-item flex">
             <md-input-container class="md-block">
                <label>Printers</label>
                <md-select name="myModel" placeholder="Printer" ng-model="selectedprinter">
                <md-option ng-repeat="printer in printers" value="{{printer.name}}">{{printer.name}}</md-option>
                </md-select>
                <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
             </md-input-container>
            </div>
          </md-list-item>



         <!--  <md-input-container>
            <label>{{data.label}}</label>
            <input ng-model="user.title">
          </md-input-container>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Current Connection</h3>
              <h4>{{connection}}</h4>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Status</h3>
              <h4>{{status}}</h4>
            </div>
          </md-list-item>
 -->
          
        </md-list>
        <md-card-actions layout="row" layout-align="end center" class="flex-100">
          <md-menu md-offset="0 -7">
          <md-button aria-label="Open demo menu" class="md-icon-button md-raised md-primary" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-svg-icon="importexport"></md-icon>
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="ctrl.announceClick($index)"> <span md-menu-align-target>Import</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="ctrl.announceClick($index)"> <span md-menu-align-target>Option</span></md-button>
            </md-menu-item>
            
          </md-menu-content>
        </md-menu>
        <md-button class="md-raised md-primary md-icon-button" aria-label="More">
          <md-icon md-svg-icon="delete" style="display:block;"></md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-icon-button" aria-label="More">
          <md-icon md-svg-icon="save" style="display:block;"></md-icon>
        </md-button>

          <!-- <md-content layout="row"> 
          <md-button class="md-raised flex">Save</md-button>
          <md-button class="md-raised flex">Delete</md-button>
          </md-content>
          <md-content layout="row">
          <md-button class="md-raised flex">Export</md-button>
          <md-button class="md-raised flex">Import</md-button>
          </md-content> -->
        </md-card-actions>

      </md-card-content>

    </md-card>