 <md-card class="flex" ng-controller="SettingsCtrl">
      
      <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>Machine</span>
          </h2>
        </md-toolbar>

      <md-card-content flex>

        <!-- <md-list> -->

           

        <md-content flex layout="row">
          <md-input-container class="flex-100">
            <label flex>Name</label>
            <input flex ng-model="user.title">
          </md-input-container>
        </md-content>
        <md-content flex layout="row">
          <md-input-container flex>
            <label>Platform X</label>
            <input ng-model="user.title">
          </md-input-container>
        </md-content>
        <md-content flex layout="row">
          <md-input-container flex>
            <label>Platform Y</label>
            <input ng-model="user.title">
          </md-input-container>
        </md-content>
        <md-content flex layout="row">
          <md-input-container flex>
            <label>Platform Z</label>
            <input ng-model="user.title">
          </md-input-container>
          </md-content>



          <!-- <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Current Connection</h3>
              <h4>{{connection}}</h4>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Status</h3>
              <h4>{{status}}</h4>
            </div>
          </md-list-item> -->

          
        <!-- </md-list> -->
        

      </md-card-content>

    </md-card>