 <md-card class="flex" ng-controller="SettingsCtrl">
      
      <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>Connection</span>
          </h2>
        </md-toolbar>

      <md-card-content>

        <md-list>

           <md-list-item class="md-3-line">
            <div class="md-list-item flex">
             <md-input-container class="md-block">
                <label>Serial Ports</label>
                <md-select name="myModel" placeholder="Printer" ng-model="selectedprinter">
                <md-option ng-repeat="printer in printers" value="{{printer.name}}">{{printer.name}}</md-option>
                </md-select>
                <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
             </md-input-container>
            </div>
          </md-list-item>

          <md-list-item class="md-3-line">
            <div class="md-list-item flex">
             <md-input-container class="md-block">
                <label>Baud rate</label>
                <md-select name="myModel" placeholder="Printer" ng-model="selectedprinter">
                <md-option ng-repeat="printer in printers" value="{{printer.name}}">{{printer.name}}</md-option>
                </md-select>
                <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
             </md-input-container>
            </div>
          </md-list-item>


          
        </md-list>
        <md-card-actions layout="row" layout-align="end center" class="flex-100">
         
        <md-button class="md-raised md-primary md-icon-button" aria-label="More">
          <md-icon md-svg-icon="refresh" style="display:block;"></md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-icon-button" aria-label="More">
          <md-icon md-svg-icon="usb" style="display:block;"></md-icon>
        </md-button>

          <!-- <md-content layout="row"> 
          <md-button class="md-raised flex">Save</md-button>
          <md-button class="md-raised flex">Delete</md-button>
          </md-content>
          <md-content layout="row">
          <md-button class="md-raised flex">Export</md-button>
          <md-button class="md-raised flex">Import</md-button>
          </md-content> -->
        </md-card-actions>

      </md-card-content>

    </md-card>