<!DOCTYPE html>
<html lang="en" ng-app="starterApp" >
  <head>
    <title>CWH</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

    <!-- <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/> -->
    <!-- <link rel="stylesheet" href="./css/angular-material.min.css"/> -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.css">
    <link rel="stylesheet" href="assets/app.css"/>


    <!-- Angular Material Dependencies -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
  // <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
  // <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
  // <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script> -->

  <!-- Angular Material Javascript now available via Google CDN; version 0.6 used here -->
  <!-- <script src="//rawgit.com/angular/bower-material/master/angular-material.min.js"></script> -->

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body layout="row" ng-controller="NavCtrl" ng-cloak >

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')" role="navigation">

    <md-toolbar class="md-whiteframe-z1" >
      <h1>Menu</h1>
    </md-toolbar>

    <md-list>

      <md-list-item>
          <md-button href='#/printer' ng-click="toggleList()">
            <md-icon md-svg-icon="info-outline" class="avatar"></md-icon>
            Printer hello
          </md-button>
      </md-list-item>

      <md-list-item>
          <md-button ng-class="navClass('jobs')" href='#/jobs'>
            <md-icon md-svg-icon="jobs" class="avatar"></md-icon>
            Jobs
          </md-button>
      </md-list-item>

      <md-list-item>
          <md-button ng-class="navClass('controls')" href='#/controls'>
            <md-icon md-svg-icon="controls" class="avatar"></md-icon>
            Controls
          </md-button>
      </md-list-item>

      <md-list-item>
          <md-button ng-class="navClass('settings')" href='#/settings'>
            <md-icon md-svg-icon="settings" class="avatar"></md-icon>
            Settings
          </md-button>
      </md-list-item>

    </md-list>

  </md-sidenav>


  <md-content flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" layout="column">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button class="menu" hide-gt-sm ng-click="toggleList()" aria-label="Show Menu">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Material Resin</h1>
    </md-toolbar>

<!--     <md-content flex id="content" layout="column" md-scroll-y flex ng-view>
 -->    
 <md-tabs md-stretch-tabs="always" class="md-primary" ng-view layout="column">
 


 </md-tabs>
        <!-- <div layout="row" layout-align="start center">
          <div><md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon></div>
          <div><h2>{{ul.selected.name}}</h2></div>
        </div> -->

       <!--  <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
        <h2>{{ul.selected.name}}</h2> -->
        <!-- <p>{{ul.selected.content}}</p> -->

        <!-- <md-button class="contact" md-no-ink ng-click="ul.showContactOptions($event)" aria-label="Contact User">
          <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
          <md-icon md-svg-icon="share"></md-icon>
        </md-button> -->
      
        <!-- <md-content > </md-content> -->

      <!-- </md-content> -->

    

  </md-content>

    
    <!-- <script src="./bower_components/angular/angular.js"></script>
    // <script src="./bower_components/angular-animate/angular-animate.js"></script>
    // <script src="./bower_components/angular-aria/angular-aria.js"></script>
    // <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script> -->
   

    
    <!-- Angular Material Dependencies -->
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc4/angular-material.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>

    <script type="text/javascript" src="./js/ng-file-upload-bower-9.1.2/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="./js/ng-file-upload-bower-9.1.2/ng-file-upload.min.js"></script>

    <!-- <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script> -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>-->
    <script src="./js/starterapp.js"></script>

   

  </body>
</html>
