.cwh-text-indent {margin-left:5px; }
.cwh-text-indent-huge {margin-left:50px; }
.cwh-dark-velvet-button {
	margin-bottom:10px;
	outline: none; 
	opacity: 1; 
	width: 100%;
	text-transform: none;
	font-family:'Cabin', sans-serif;
  color: #FEFAE5;
}

body{
  background:#323436 url("images/body_bg.jpg") repeat scroll 0% 0%;
}

.progressbar{
  margin:10px 9px 10px 0px;

}



.post-item.style2 .inner{
 padding:5px 15px 5px;
}

.post-meta-top{
  color: #D3D4D5
}

.cwh-dark-velvet-title {
	text-align: center;
	color: #888888;
	text-transform: none;
	font-family:'Cabin', sans-serif;
	vertical-align:middle;
	display: block;
  top:75% !important;
}
.cwh-vcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cwhDocumentList{
    overflow-x:hidden;
    overflow-y:scroll;
    height:200px;
    width:100%;
    padding: 0 15px;
    padding-right:0px;
    scrollbar-base-color: black;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.wizardListItem{
	margin-left: 0px;
	margin-right: 0px;
  padding-right:0px;
}

