<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.buildship.core.launch.runconfiguration">
<listAttribute key="arguments"/>
<stringAttribute key="bad_container_name" value="\host\launchers\Phot"/>
<stringAttribute key="gradle_distribution" value="GRADLE_DISTRIBUTION(WRAPPER)"/>
<stringAttribute key="java_home" value="${ee_home:JavaSE-1.8}"/>
<listAttribute key="jvm_arguments"/>
<booleanAttribute key="show_console_view" value="true"/>
<booleanAttribute key="show_execution_view" value="true"/>
<listAttribute key="tasks">
<listEntry value="test"/>
</listAttribute>
<stringAttribute key="working_dir" value="${workspace_loc:/host}"/>
</launchConfiguration>
